<template id="characterTemplate">
  <div class="character">
    <div class="portrait">
      <img src="https://via.placeholder.com/150" class="charPortrait" />
    </div>
    <div class="attributes">
      <p class="charName">NAME</p>
      <p class="charHealth">Health: <span class="current">CURRENT</span>/<span class="max">MAX</span></p>
      <p class="charAction">Action: <span class="name">ACTION</span> on <span class="target">TARGET</span></p>
      <p>Initiative: <span class="value">X</span></p>
    </div>
  </div>
</template>